<div class="chat-main-controls">
    {{#> ChatControl style="chat-main-controls__pin"}}
        <img src={{icons "icon-pin"}} alt="pin">
    {{/ ChatControl}}
    <div class="chat-main-controls__input">
        <input type="text" placeholder="Сообщение">
    </div>
    <div class="chat-main-controls__send">
        <img src={{icons "icon-send"}} alt="send">
    </div>
</div>
