<div class="chat-main-controls">
    {{#> ChatControl style="chat-main-controls__pin"}}
        <img src="/src/assets/icons/icon-pin.svg" alt="pin">
    {{/ ChatControl}}
    <div class="chat-main-controls__input">
        <input type="text" placeholder="Сообщение">
    </div>
    <div class="chat-main-controls__send">
        <img src="/src/assets/icons/icon-send.svg" alt="send">
    </div>
</div>