.chat-main-controls {
    padding-top: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    &__pin {
        height: 32px !important;
        width: 32px !important;
    }
    &__input {
        width: 100%;
        & > input {
            outline: none;
            height: 32px;
            width: 100%;
            padding: 0 16px;
            background-color: var(--grey-background);
            border-radius: 12px;
            border: none;
        }
    }
    &__send {
        opacity: 0.9;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}