<div class="chat-main-controls">
    {{> ChatControl style="chat-main-controls__pin" icon-name="icon-pin"}}
    <div class="chat-main-controls__input">
        <input class="chat-main-controls__input-component" type="text" placeholder="Сообщение">
    </div>
    <div class="chat-main-controls__send">
        <img src={{icons "icon-send"}} alt="send">
    </div>
</div>
