{
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": "latest"
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "max-len": ["error", { "code": 120 }],
      "no-unused-vars": "warn",
      "no-console": "warn",
      "quotes": ["error", "double"],
      "jsx-quotes": ["error", "prefer-double"],
      "prefer-const": "error",
      "indent": ["error", 2],
      "comma-dangle": ["error", "always-multiline"],
      "semi": ["warn", "always"],
      "eol-last": ["error", "always"],
      "sort-imports": ["error", {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "allowSeparatedGroups": false
      }],
      "object-curly-spacing": ["error", "always"]
    }
  }