{{#> CenterLayout}}
    <div class="page-info">
        <div class="page-info__title">404</div>
        <div class="page-info__text">Не туда попали</div>
        {{> Button page='login' text="Назад к чатам" type="link"}}
    </div>
{{/ CenterLayout}}