{{#> CenterLayout}}
    <div class="page-info">
        <div class="page-info__title">404</div>
        <div class="page-info__text">Не туда попали</div>
        {{> Link href='#'}}
    </div>
{{/ CenterLayout}}