<div id={{id}} class="modal">
    <div class="modal__background"></div>
    <div class="modal__content">
        <div class="modal__close" onclick="getElementById('{{id}}').classList.remove('modal--opened')">
            <img src={{icons "icon-close"}} alt="close">
        </div>
        {{> @partial-block}}
    </div>
</div>
