.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    &__background {
        width: 100%;
        height: 100%;
        background-color: var(--grey);
    }
    &__content {
        padding: 32px 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border-radius: 12px;
    }
    &__close {
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 100;
        &:hover {
            cursor: pointer;
        }
    }
    &--opened {
        display: block;
    }
}