<div class="profile-page profile-page--edit-password">
    {{> ButtonBack page="profile" }}
    {{#> CenterLayout}}
        <div class="profile-page__content">
            <div class="profile-page__avatar">
                <div class="profile-page__avatar-image">
                    <img src={{icons "icon-avatar"}} alt="avatar">
                </div>
            </div>
            <div class="profile-page__inputs">
                {{> Input 
                    label="Старый пароль" 
                    value="soup@mail.ru"
                    id="old_password"
                    placeholder="введите старый пароль"
                    style-type="profile"
                    type="password"
                }}
                {{> Input 
                    label="Новый пароль" 
                    value="soup@mail.ru"
                    id="new_password"
                    placeholder="введите новый пароль"
                    style-type="profile"
                    type="password"
                }}
                {{> Input 
                    label="Повторите старый пароль" 
                    value="soup@mail.ru"
                    id="repear_new_password"
                    placeholder="повторите новый пароль"
                    style-type="profile"
                    type="password"
                }}
            </div>
            <div class="profile-page__buttons">
                {{> Button
                    text="Сохранить"
                }}
            </div>
        </div>
    {{/CenterLayout}}
</div>