.chat-control {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    & > &__icon {
        vertical-align: middle;
    }
    &:hover {
        cursor: pointer;
        background-color: var(--grey-background);
    }
}
