<div class="chat-navigation-header">
    <div class="chat-navigation-header__profile">
        <div class="chat-navigation-header__profile-wrapper">
            <span page="profile">Профиль</span>
            <img src={{icons "icon-forward"}} alt="forward" page="profile">
        </div>
    </div>
    <div class="chat-navigation-search-wrapper">
        <input id="chat-navigation-search" type="text" class="chat-navigation-search-input" />
        <label for="chat-navigation-search" class="chat-navigation-search-label">
            <img src={{icons "icon-search"}} alt="search">
            <span>Поиск</span>
        </label>
    </div>
</div>
